<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= message.user %></h1>
  <p><%= message.text %></p>
  <p><em>Added: <%= message.added.toLocaleString() %></em></p>
  <a href="/">Back to messages</a>
</body>
</html>
